.product-item {
  list-style-type: none;
  margin-bottom: 48px;
  width: 350px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 300px;
  }
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  max-height: 350px;
  border-radius: 6px;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}

.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 18px;
  margin-bottom: 6px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2px;
}

.price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding: 6px 16px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}

/* dark-theme-stuff-css */
.dark-mode-bg {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode-header-bg {
  background-color: #282829;
  color: #fff;
}
.dark-mode-font-clr {
  color: #fff;
  font-weight: 400;
}
.dark-mode-bold-font-clr {
  color: #fff;
  font-weight: bold;
}

.dark-mode-description-font-clr {
  color: rgb(246, 242, 242);
  font-weight: 300;
}
.dark-mode-desc-font-clr {
  color: rgb(246, 242, 242);
}
.dark-mode-card-bg {
  background-color: #2b2e2c;
  /* box-shadow: 8px 0px 16px 0px #ffffff60; */
  box-shadow: none;
}
.dark-mode-blue {
  color: #4749bf;
  font-weight: bold;
}
.my-div {
  height: 100vh;
  overflow: auto;
}
/*  */
