/* Add accessible CSS styles */
.my-dev-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  padding: 5px;
  width: 100%;
  color: #fff;
  margin: 0px;
}

.my-name {
  font-weight: 700;
  color: #8b5cf6; /* Accent color */
  margin: 0px;
}

.anchor {
  text-decoration: none;
  color: #8b5cf6; /* Accent color */
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.anchor:hover {
  text-decoration: underline;
}
.my-text {
  margin: 0px;
}
/* dark-theme-stuff-css */
.dark-mode-bg {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode-header-bg {
  background-color: #282829;
  color: #fff;
}
.dark-mode-font-clr {
  color: #fff;
  font-weight: 400;
}
.dark-mode-bold-font-clr {
  color: #fff;
  font-weight: bold;
}

.dark-mode-description-font-clr {
  color: rgb(246, 242, 242);
  font-weight: 300;
}
.dark-mode-desc-font-clr {
  color: rgb(246, 242, 242);
}
.dark-mode-card-bg {
  background-color: #2b2e2c;
  /* box-shadow: 8px 0px 16px 0px #ffffff60; */
  box-shadow: none;
}
.dark-mode-blue {
  color: #4749bf;
  font-weight: bold;
}
.my-div {
  height: 100vh;
  overflow: auto;
}
/*  */
